{% extends 'chat/friends.html' %}
<!-- Page that shows are users and has a search option that returns people in the search -->

<script>
    {% block javascript %}
    {% endblock %}
</script>

{% block title %}Find Friends{% endblock %}

{% block search_results %}
    <!-- On top of page. For Admin and to send message if we couldn't find anything occorinding to the post -->
    {% if request.user.is_staff %}
        <div class="col-sm-10 col-sm-offset-1">
        <p class="no-margin">Admin they are <strong>{{ users_friends }}</strong> users</p>
        </div>
    {% endif %}
    {% if friends|length == 0 %}
        <div class="col-sm-10 col-sm-offset-1">
        <div class="thumbnail">
            <div class="friends-no">
        <p>We couldn't find anything for <strong>{{ search }}</strong></p>
        <p>Looking for people or posts? Try entering a name, location, or different words.</p>
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}

{% block find_friends_user %}
    <!-- Returns the box with users info -->
    <h2 style="color: blueviolet">{{ user.username }} is You!</h2>
    {% include 'chat/user_info_box.html' %}
{% endblock %}

{% block friend_request %}
    <!--has button with friend request-->
    <form id="friend_{{ friend.pk }}" style="display: inline-flex;" method="GET" href="{% url 'chat:friend_request' %}">
        <input type="hidden" class="pk" name="friend" value="{{ friend.pk }}" >
        {% if friend == user  %}
            <h4 class="chocolate">This is you!</h4>
            {% elif request.user.is_staff %}
        {% elif friend in your_friends%}
            <h4 style="color: red">This is your friend already!</h4>
        {% else %}
            <input type="submit" class="btn btn-primary friend_request"  role="button" value="Make Friend Request!">
            <h2 id="friend-request-{{ friend.pk }}" class="chocolate"></h2>
        {% endif %}
    </form>
{% endblock %}